 body {
	 background-image:url("https://techreign.github.io./Images/background_test.jpg");
	}
 
 h1, p {
	color: white;
	font-family: "Gill Sans", serif;
	font-size: 14px;
	}
	
 div {
	background-color: Tomato;
	}